{% extends 'brand_base.html' %}
{% load static %}

{% block title %}Brand Homepage{% endblock title %}
{% block extra_css %}

<style>
    .brand_style_text_color{
        color: {% if brand_style.texts_color %}{{ brand_style.texts_color  }}{% endif %};
    }

    .brand_style_main_color{
        background-color: {% if brand_style.main_color %}{{ brand_style.main_color  }}{% else %}grey{% endif %};
    }

    .brand_style_background_color_2nd{
        background-color: {% if brand_style.background_color_2nd %}{{ brand_style.background_color_2nd  }}{% else %}#EFEFEF{% endif %};
    }


</style>

{% endblock %}
{% block content %}
<div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="col-lg-2">
            {% include 'brand_sidebar.html' %}
        </div>
        <div class="col-lg-10">
            <form method="POST" id="brand_homepage" autocomplete="off" enctype='multipart/form-data'>
                {% csrf_token %}
                <div class="container-fluid p-0">
                    <div class="row no-gutters">
                        <div class="col-lg-12">
                            <div id="carouselExampleControls" class="carousel slide text-center" data-ride="carousel">
                                <div class="carousel-inner text-left">
                                    <div class="carousel-item active image-container">
                                        <div class="card-img img-color brand_style_main_color" style=" height: 550px;">
                                            {% if brandcat_obj.main_pic_1 %}
                                            <div class="image-upload" style="text-align: center;">
                                                
                                                <label for="file-input1">
                                                    <img src="/media/{{ brandcat_obj.main_pic_1.name }}" style="height: 550px;width: 1065px;"/>
                                                </label>
                                                <input id="file-input1" type="file" onchange="readURL1(this);"
                                                name="main_pic_1" value="{{brandcat_obj.main_pic_1.name}}" />
                                            </div>
                                            {% else %}
                                            <div class="image-upload" style="text-align: center;">
                                                
                                                <label for="file-input1">
                                                    <img id="preview-img1" src=" " style="height: 550px;width: 1065px;"/>
                                                </label>
                                                <input id="file-input1" type="file" onchange="readURL1(this);"
                                                name="main_pic_1" />
                                            </div>
                                            {% endif %}
                                            <div class="{% if brandcat_obj.main_pic_1 %}hide {%  endif %}" style="color:white; position: absolute; top: 40%; left: 25%;">
                                                <i class="fa fa-plus main_pic_1 brand_style_text_color" style="color:white; padding-left: 230px;"></i>
                                                <p class="brand_style_text_color main_pic_1 text-center" style="color:white; text-align: center; font-size: 13px; padding-left: 130px;">ADD A PHOTO OR VIDEO FOR BANNER</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item image-container">
                                        <div class="card-img img-color1 brand_style_main_color" style=" height: 550px;">
                                            <div class="image-upload" style="text-align: center;">
                                                <label for="file-input2">
                                                    <img id="preview-img2" src="{% if brandcat_obj.main_pic_2 %} /media/{{ brandcat_obj.main_pic_2.name }}{% else %} {% endif %}" style="height: 550px;width: 1065px;"/>
                                                </label>
                                                <input id="file-input2" type="file" onchange="readURL2(this);"
                                                name="main_pic_2" />
                                            </div>
                                            <div class="{% if brandcat_obj.main_pic_2 %}hide {%  endif %}" style="color:white; position: absolute; top: 40%; left: 25%;">
                                                <i class="fa fa-plus main_pic_2 brand_style_text_color" style="color:white; padding-left: 230px;"></i>
                                                <p class="brand_style_text_color main_pic_2 text-center" style="color:white; text-align: center; font-size: 13px; padding-left: 130px;">ADD A PHOTO OR VIDEO FOR BANNER</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" style="position: absolute; color: black;">
                                    <span class="carousel-control-prev-icon"  aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" style="position: absolute;">
                                    <span class="carousel-control-next-icon" aria-hidden="true" style="color: black;"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container mt-5" style="padding-left:0px;">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <div class="wrapper pt-4">
                                    <div class="underline-area brand_style_main_color">
                                        <div class="title brand_style_text_color">
                                            <span>DO YOU LIKE WHAT YOU SEE?</span>
                                        </div>
                                    </div>
                                </div>
                                <p class="font-medium-reg p-3 brand_style_text_color">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                            <div class="p-2 text-center">
                                <div class="row">
                                    {% with ''|center:4 as range %}
                                    {% for i in range %}
                                    <div class="col-12 col-sm-8 col-md-6 col-lg-3">
                                        <div class="card" style="border: 2px dotted #8080805e; text-align:center;">
                                            <img id="preview" src="" />
                                            <i class="fa fa-plus brand_style_text_color" style="padding-top:120px;"></i>
                                            <p class="brand_style_text_color" style="padding:0px 0px 120px 0px; text-align: center; font-size: 13px;">ADD A PHOTO FOR BANNER</p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    {% endwith %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container mt-5 p-5 brand_style_background_color_2nd" id="banner_photo" style="padding-left:0px;">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card-img img-color2 brand_style_main_color" style="height: 560px;">
                                <div class="image-upload" style="text-align:center;">
                                    <label for="file-input3">
                                        <img id="preview-img3" src="{% if brandcat_obj.normal_pic_1 %} /media/{{ brandcat_obj.normal_pic_1.name }}{% else %} {% endif %}" style="height: 560px;width: 470px;"/>
                                    </label>
                                    <input id="file-input3" type="file" onchange="readURL3(this);" name="normal_pic_1" />
                                </div>
                                <div class="{% if brandcat_obj.normal_pic_1 %}hide {%  endif %}" style="color:white; position: absolute; top: 40%; left: 25%;">
                                    <i class="fa fa-plus normal_pic_1 brand_style_text_color" style="color:white; padding-left: 100px;"></i>
                                    <p class="brand_style_text_color normal_pic_1 pl-4" style="color:white; text-align: center; font-size: 13px;">ADD A PHOTO FOR BANNER</p>
                                </div>
                                <div class="builder-banner">
                                    <div class="row">
                                        <div class="col-md-8 brand_style_text_color">
                                            <span>ON SALE</span>
                                            <p class="text-muted font10 font-medium-reg">{% include 'sale_text.html' %}</p>
                                        </div>
                                        <div class="col-md-2">
                                            <a href="#" class="font10 font-medium-reg">BROWSE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="card-img img-color3 brand_style_main_color" style="height: 274px;">
                                    <div class="image-upload" style="text-align:center;">
                                        <label for="file-input4">
                                            <img id="preview-img4" src="{% if brandcat_obj.normal_pic_2 %} /media/{{ brandcat_obj.normal_pic_2.name }}{% else %} {% endif %}" style="height: 275px;width: 500px;"/>
                                        </label>
                                        <input id="file-input4" type="file" onchange="readURL4(this);" name="normal_pic_2" />
                                    </div>
                                    <div class="{% if brandcat_obj.normal_pic_2 %}hide {%  endif %}" style="color:white; position: absolute; top: 20%; left: 25%;">
                                        <i class="fa fa-plus normal_pic_2 brand_style_text_color" style="color:white; padding-left: 100px;"></i>
                                        <p class="brand_style_text_color normal_pic_2 pl-4" style="color:white; text-align: center; font-size: 13px;">ADD A PHOTO FOR BANNER</p>
                                    </div>
                                    <div class="builder-top-banner">
                                        <div class="row">
                                            <div class="col-md-8 brand_style_text_color">
                                                <span>NEW HOT STUFF</span>
                                                <p class="text-muted font10 font-medium-reg">{% include 'sale_text.html' %}</p>
                                            </div>
                                            <div class="col-md-2">
                                                <a href="#" class="font10 font-medium-reg brand_style_text_color">BROWSE</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="card-img img-color4 brand_style_main_color" style="height: 274px;">
                                    <div class="image-upload" style="text-align:center;">
                                        <label for="file-input5">
                                            <img id="preview-img5" src="{% if brandcat_obj.normal_pic_3 %} /media/{{ brandcat_obj.normal_pic_3.name }}{% else %} {% endif %}" style="height: 275px;width: 500px;"/>
                                        </label>
                                        <input id="file-input5" type="file" onchange="readURL5(this);" name="normal_pic_3" />
                                    </div>
                                    <div class="{% if brandcat_obj.normal_pic_3 %}hide {%  endif %}" style="color:white; position: absolute; top: 70%; left: 25%;">
                                        <i class="fa fa-plus normal_pic_3 brand_style_text_color" style="color:white; padding-left: 100px;"></i>
                                        <p class="brand_style_text_color normal_pic_3 pl-4" style="color:white; text-align: center; font-size: 13px;">ADD A PHOTO FOR BANNER</p>
                                    </div>
                                    <div class="builder-top-banner2">
                                        <div class="row">
                                            <div class="col-md-8 brand_style_text_color">
                                                <span>NEW HOT STUFF</span>
                                                <p class="text-muted font10 font-medium-reg">{% include 'sale_text.html' %}</p>
                                            </div>
                                            <div class="col-md-2">
                                                <a href="#" class="font10 font-medium-reg brand_style_text_color">BROWSE</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="is_draft" value="" id="draft" />
            </form>

            <div class="container mt-5 mb-5" style="padding-left:0px;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="wrapper pt-4">
                                <div class="underline-area brand_style_main_color">
                                    <div class="title brand_style_text_color">
                                        <span>DO YOU LIKE WHAT YOU SEE?</span>
                                    </div>
                                </div>
                            </div>
                            <p class="font-medium-reg p-3 brand_style_text_color">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="text-center">
                            <button class="tq-btn tq-btn-primary brand_style_text_color" style="{% if brand_style.main_color %}background-color: {{ brand_style.main_color  }}{% endif %} !important;">FOLLOW</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

    {% block extra_js %}
    <script>
        function readURL1(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    var img = new Image;
                    valid = false;
                    img.onload = function() {
                        if(img.width >= 1060 && img.height >= 550 && input.files[0].size/1024/1024 <=25){
                            valid = true;
                        }
                        if(valid){
                            $('.main_pic_1').hide();
                            $('.img-color').removeClass();
                            $('#preview-img1')
                                .attr('src', e.target.result)
                                .height(550)
                                .width(1060);
                        }
                        else{
                            toastr.error('Select image greater than 1060*550 and less than 25mb')
                        }
                    };
                    img.src = reader.result;
                };

                reader.readAsDataURL(input.files[0]);
            }
        }


        function readURL2(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    var img = new Image;
                    valid = false;
                    img.onload = function() {
                        if(img.width >= 1060 && img.height >= 540 && input.files[0].size/1024/1024 <=25){
                            valid = true;
                        }
                        if(valid){
                            $('.main_pic_2').hide();
                            $('.img-color1').removeClass();
                            $('#preview-img2')
                                .attr('src', e.target.result)
                                .height(550)
                                .width(1060);
                        }
                        else{
                            toastr.error('Select image greater than 1060*550 and less than 25mb')
                        }
                    };
                    img.src = reader.result;
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        function readURL3(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    var img = new Image;
                    valid = false;
                    img.onload = function() {
                        if(img.width >= 560 && img.height >= 560 && input.files[0].size/1024/1024 <=20){
                            valid = true;
                        }
                        if(valid){
                            $('.normal_pic_1').hide();
                            $('.img-color2').removeClass();
                            $('#preview-img3')
                                .attr('src', e.target.result)
                                .height(560)
                                .width(470);
                        }
                        else{
                            toastr.error('Select image greater than 560*560 and less than 20mb')
                        }
                    };
                    img.src = reader.result;
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        function readURL4(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    var img = new Image;
                    valid = false;
                    img.onload = function() {
                        if(img.width >= 100 && img.height >= 274 && input.files[0].size/1024/1024 <=20){
                            valid = true;
                        }
                        if(valid){
                            $('.normal_pic_2').hide();
                            $('.img-color3').removeClass();
                            $('#preview-img4')
                                .attr('src', e.target.result)
                                .height(274)
                                .width(493);
                        }
                        else{
                            toastr.error('Select image greater than 490*275 and less than 20mb')
                        }
                    };
                    img.src = reader.result;
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        function readURL5(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    var img = new Image;
                    valid = false;
                    img.onload = function() {
                        if(img.width >= 493 && img.height >= 274 && input.files[0].size/1024/1024 <=20){
                            valid = true;
                        }
                        if(valid){
                            $('.normal_pic_3').hide();
                            $('.img-color4').removeClass();
                            $('#preview-img5')
                                .attr('src', e.target.result)
                                .height(274)
                                .width(493);
                        }
                        else{
                            toastr.error('Select image greater than 493*275 and less than 20mb')
                        }
                    };
                    img.src = reader.result;
                };

                reader.readAsDataURL(input.files[0]);
            }
        }


    $("#form-submit").on("click", function(){
        $('#brand_homepage').submit();
    });

    $("#draft-submit").on("click", function(){
        var b = document.getElementById("draft");
        b.setAttribute("value", "true");
        $('#brand_homepage').submit();
    });

    </script>
    {% endblock %}
