{% extends 'base.html' %}
{% load static %}

{% block title %}Reset Password{% endblock title %}

{% block content %}
<div class="mt-5">
    <div class="tq-join-text">
        <img src="{% static  'images/blue/join-text.svg' %}" height="100" />
        <p class="font-medium-reg mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna</p>
    </div>
    <div class="brand-logo-container text-right">
        <img src="{% static 'images/arrow-thin-left.png' %}" />
        <p>THIS MODEL WEARS</p>
        <div class="brand-logo text-right">
            <img src="{% static 'images/brand-logo.png' %}" />
        </div>
    </div>
    <div class="row mobile-row">
        <div class="col-lg-6">
            <img src="{% static 'images/bg-auth.svg' %}" class="bg-auth" />
        </div>
        <div class="col-lg-6">
            <div class="login-container">
                <div class="tq-card">
                    <div class="card-title login-title">
                        RESET PASSWORD
                    </div>
                    <form method="POST" enctype='multipart/form-data' id="login-form">
                        {% csrf_token %}
                        <div class="card-body p-5">
                            <div class="row mt-2 mb-3">
                                <div class="col-md-12">
                                    <input name="new_password" placeholder="New password" class="input-control" type="password"
                                        required />
                                    {% if form.errors %}
                                    {{ form.errors.new_password }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-12">
                                    <input name="confirm_password" placeholder="Confirm password" class="input-control" type="password"
                                        required />
                                </div>
                            </div>
                            <div class="row login-cta">
                                <div class="col-lg-6 mt-2">
                                </div>
                                <div class="col-lg-12">
                                    <button type="submit" class="tq-btn tq-btn-primary">SUBMIT</button>
                                </div>
                            </div>

                            <div class="text-center mt-4 text-muted font-medium-reg font12">
                                or sign with
                            </div>
                            <div class="text-center mt-2">
                                <div class="row">
                                    <div class="col-md-4 col-4">
                                        <i class="fa fa-instagram"></i>
                                    </div>
                                    <div class="col-md-4 col-4">
                                        <i class="fa fa-twitter"></i>
                                    </div>
                                    <div class="col-md-4 col-4">
                                        <a class='btn' href='/accounts/facebook/login/?process=login' style="color: black;"><i class="fa fa-facebook"></i></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="d-lg-none">
        <div class="mobile-brand-logo-container text-left">
            <img src="{% static 'images/arrow-thin-left.png' %}" />
            <p>THIS MODEL WEARS</p>
            <div class="brand-logo text-left">
                <img src="{% static 'images/brand-logo.png' %}" />
            </div>
        </div>
        <div class="">
            <img src="{% static 'images/bg-auth.svg' %}" class="login-mobile-bg-auth" />
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function () {
        $('#login-form').validate({});
    });
</script>
{% endblock %}