{% load static %}

<div class="container" style="padding-left: 65px; padding-right: 75px; margin-top: -150px;">
    <div class="row">
        <div class="col-lg-6">
            <div class="login-container">
                <div class="tq-card">
                    <div class="card-title login-title">
                        LOGIN
                    </div>
                    <form method="POST" enctype='multipart/form-data' id="login-form" autocomplete="off" action="{% url 'checkout_login_user' product_obj.bag_product.id %}">
                        {% csrf_token %}
                        <div class="card-body p-5">
                            <div class="row mt-2 mb-3">
                                <div class="col-md-12">
                                    <input name="email" placeholder="Email" class="input-control" type="email"
                                        required />
                                    {% if form.errors %}
                                    {{ form.errors.email }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-12">
                                    <div class="tq-input-group">
                                        <input name="password" id="password" placeholder="Password"
                                            class="input-control" type="password" required />

                                        <span class="input-group-append">
                                            <div class="tq-input-group-text bg-transparent pointer">
                                                <i id="show-password" class="fa fa-eye-slash"></i>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-12 text-right font12"><a class="text-muted"
                                        href="{% url 'forgot_password' %}">forgot password?</a></div>
                            </div>
                            <div class="row login-cta">
                                <div class="col-lg-7 mt-2" style="text-align: start;">
                                    <a class="text-link font14" href="{% url 'signup' %}">I DON'T HAVE AN ACCOUNT</a>

                                </div>
                                <div class="col-lg-2" style="margin-left:-25px;">
                                    <button type="submit" class="tq-btn tq-btn-primary">LOGIN</button>
                                </div>
                            </div>

                            <div class="text-center mt-4 text-muted font-medium-reg font12">
                                or sign with
                            </div>
                            <div class="text-center mt-2">
                                <div class="row">
                                    <div class="col-md-4 col-4 d-none">
                                        <i class="fa fa-instagram"></i>
                                    </div>
                                    <div class="col-md-4 col-4">
                                        <i class="fa fa-twitter d-none"></i>
                                    </div>
                                    <div class="col-md-4 col-4">
                                        <a class='btn' href='/accounts/facebook/login/?process=login'
                                            style="color: black;"><i class="fa fa-facebook"></i></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="login-container">
                <div class="tq-card">
                    <div class="card-title login-title">
                        GUEST / NEW USER
                    </div>
                    <form method="POST" enctype='multipart/form-data' id="signup-form" autocomplete="off" action="{% url 'checkout_signup' product_obj.bag_product.id %}">
                    {% csrf_token %}
                        <div class="row mb-5">
                            <div class="col-md-12 pl-5 pt-5 pr-5 pb-3">
                                <input name="email" placeholder="Email" class="input-control" type="email" />
                                {% if form.errors %}
                                {{ form.errors.email }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row login-cta">
                            <div class="col-lg-11" style="text-align: end; padding-bottom: 140px;">
                                <button type="submit" class="tq-btn tq-btn-primary">CONTINUE</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>

{% block extra_js %}
<script>

    $(document).ready(function () {
        $('#login-form').validate({});
    });

    $(document).ready(function () {
        $('#sign-form').validate({});
    });

</script>
{% endblock %}