{% load static %}

<div class="container pl-5 pr-5">
    <div class="row">
        <div class="col-lg-12">
        	<div class="container-fluid">
                <div class="tq-card text-center p-5">
                    <h4>THANK YOU FOR YOUR ORDER</h4>
                	<img class="pt-5" src="{% static 'images/blue/check-sign.svg' %}" height="100" />
                	<p class="mt-4">incididunt ut labore et dolore magnaLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                </div>
                <div class="row p-5">
                	<!-- <div class="col-lg-6" style="text-align: end;">
                		<a class="tq-btn tq-btn-primary" href="{% url 'account' %}">VIEW ORDERS</a>
                	</div> -->
                	<div class="col-lg-12" style="text-align: center;">
                        <a href="{% url 'categories' %}" class="tq-btn tq-btn-primary" style="color: white; background-color: #4273F5;">CONTINUE SHOPPING</a>
                	</div>
                </div>
            </div>
    	</div>
    </div>
</div>