{% extends 'emails/email_base.html' %}
{% block email_style %}
<style>
.verify_btn {
    text-decoration: none;
    padding: 10px 17px 10px 17px;
    border-radius: 6px;
    color: white !important;
    background-color: #358939;
    display: inline-block;
    position: relative;
    padding: 11.5px 40px;
    font-size: 13px;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
}

.verify_btn:hover {
    color: #333;
}

.post-info>a.verify-btn {
    background-color: #f2f2f2;
    color: #535453;
    margin-top: 10px;
}
</style>
{% endblock %}
{% block content_email %}
<p class="name">Hello</p>
<center>
    <span class="post-info">
        {{ message }}
    </span>
</center>
<p style="font-size:16px; margin-bottom:20px;line-height: 21px;">
    Thanks,<br />
    Quilio Team
</p>
{% endblock %}