{% load static %}
{% block content %}
<div class="col-lg-12">
<form method="POST" enctype='multipart/form-data' id="update-password-form">
    {% csrf_token %}
    <div class="card-body p-5">
        <h2>CHANGE PASSWORD</h2>
        <div class="row mt-5">
            <div class="col-lg-12 mb-2">
                <div class="tq-input-group">
                <input name="old_password" id="id_old_password" placeholder="Old password" class="input-control" type="password" required />
                {% if form.errors %}
                {{ form.errors.new_password }}
                {% endif %}
                <span class="input-group-append">
                    <div class="tq-input-group-text bg-transparent pointer"><i id="old-password" class="fa fa-eye-slash"></i></div>
                </span>
                </div>
            </div>
            <div class="col-lg-12 mb-2">
                <div class="tq-input-group">
                <input name="new_password" id="id_new_password" placeholder="New password" class="input-control" type="password" required />
                {% if form.errors %}
                {{ form.errors.new_password }}
                {% endif %}
                <span class="input-group-append">
                    <div class="tq-input-group-text bg-transparent pointer"><i id="new-password" class="fa fa-eye-slash"></i></div>
                </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mb-2">
                <div class="tq-input-group">
                    <input name="confirm_password" id="conf-password" placeholder="Confirm password" class="input-control" type="password" required />
                    <span class="input-group-append">
                        <div class="tq-input-group-text bg-transparent pointer"><i id="con-new-password" class="fa fa-eye-slash"></i></div>
                    </span>
                </div>
            </div>
        </div>
        <div class="row login-cta">
            <div class="col-lg-6 mt-3">
            </div>
            <div class="col-lg-12">
                <button type="submit" class="tq-btn tq-btn-primary">SUBMIT</button>
            </div>
        </div>
    </div>
</form>
</div>
{% endblock %}

{% block extra_js %}
<script>
    $(function validate() {

        var secure_rules = {
            rules: {
                old_password: {
                    required: true
                },
                new_password: {
                    required: true,
                    minlength: 8
                },
                confirm_password: {
                    equalTo: "#id_new_password"
                },
            },
            messages: {
                confirm_password: "Password does not match",
            },
            submitHandler: function(f) {
                $.ajax({
                    url: "{% url 'update_password' %}",
                    type: "POST",
                    data: $(f).serialize(),
                    success: function(response) {
                        response = JSON.parse(response)
                        if (response['status']) {
                            $("#id_old_password").parent().find('span').remove()
                            $('#update-password-form').trigger("reset")
                            toastr.success(response['message']);
                        } else {
                            $("#id_old_password").parent().find('span').remove()
                            $("#id_old_password").focus();
                            $('#id_old_password').parent().append('<span class="error">' + response['error'] + '</span>')
                        }
                    }
                });
            },
            invalidHandler: function(f) {
                $(f).submit();
            }
        }
        $('#update-password-form').validate(secure_rules);
    });

    $('#con-new-password').click(function () {
        var type = document.getElementById('conf-password').type;
        if (type == 'text') {
            $('#conf-password').attr('type', 'password');
            $('#con-new-password').removeClass('fa-eye');
            $('#con-new-password').addClass('fa-eye-slash');
        } else {
            $('#conf-password').attr('type', 'text');
            $('#con-new-password').addClass('fa-eye');
            $('#con-new-password').removeClass('fa-eye-slash');
        }
    })
    $('#old-password').click(function () {
        var type = document.getElementById('id_old_password').type;
        if (type == 'text') {
            $('#id_old_password').attr('type', 'password');
            $('#old-password').removeClass('fa-eye');
            $('#old-password').addClass('fa-eye-slash');
        } else {
            $('#id_old_password').attr('type', 'text');
            $('#old-password').addClass('fa-eye');
            $('#old-password').removeClass('fa-eye-slash');
        }
    })
    $('#new-password').click(function () {
        var type = document.getElementById('id_new_password').type;
        if (type == 'text') {
            $('#id_new_password').attr('type', 'password');
            $('#new-password').removeClass('fa-eye');
            $('#new-password').addClass('fa-eye-slash');
        } else {
            $('#id_new_password').attr('type', 'text');
            $('#new-password').addClass('fa-eye');
            $('#new-password').removeClass('fa-eye-slash');
        }
    })
</script>
{% endblock %}